@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Magz';
    src: url('/fonts/Magz.ttf.woff') format('woff'),
        url('/fonts/Magz.ttf.svg#Magz') format('svg'),
        url('/fonts/Magz.ttf.eot'),
        url('/fonts/Magz.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Quicksand';
}

html {
  scroll-behavior: smooth;
}

.magz-no {
    font-family: sans-serif; /* "Monserrat"; */
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.magz {
    font-family: sans-serif; /*  "Magz"; */
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.magz-first {
    text-shadow: rgb(0, 255, 255) -3.29057px 0px 0px, rgb(255, 0, 255) 3.29057px 0px 0px;
}

.magz-second {
    text-shadow: rgba(0, 0, 0, 0.325) 0px 6.6009px 28.0538px;
}

.chat-support__icons {   
    position: fixed;
    width: 100%;
    /* bottom: 100%; */
    display: flex;
    justify-content: right;
    right: 2rem;
    bottom: .5rem;
}

.chat-support__icon {
    height: 56px;
    width: 56px;
    margin-bottom: 1rem;
}

.chat-support__icon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.legend--text-shadow {
    text-shadow: 1px 1px 5px blue;
}

/* img#logo {
    border-color: plum;
    border-style: solid;
    border-width: 10px;
    margin: auto;
} */

.wave, .confeti {
    height: initial !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    inset: initial !important;
}
.wave {
    bottom: -160px !important;
}
.confeti {
    top: 0 !important;
}

/* Navbar*/

.wrapper .navbar ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0;
  }
  .wrapper .movil {
    background-color: white;
    display: none;
    padding: 10px;
  }
  .mt--mobile{
    margin-top: -64px;
  }
  @media (max-width: 767px) {
    .wrapper .movil {
      display: block;
    }
    .wave {
      bottom: 0 !important;
    }
    .mt--mobile{
      margin-top: -70px;
    }
  }
  @media (max-width: 1023px) {
    .wave {
      bottom: 0 !important;
    }
  }
  .wrapper .movil .bar-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .wrapper .movil .bar-icon.bar-icon--close .line:nth-child(1) {
    transform: translate(5px, 15px) rotate(45deg);
    -webkit-transform: translate(5px, 15px) rotate(45deg);
    -moz-transform: translate(5px, 15px) rotate(45deg);
    -ms-transform: translate(5px, 15px) rotate(45deg);
    -o-transform: translate(5px, 15px) rotate(45deg);
  }
  .wrapper .movil .bar-icon.bar-icon--close .line:nth-child(2) {
    transform: translateX(-150px);
  }
  .wrapper .movil .bar-icon.bar-icon--close .line:nth-child(3) {
    transform: translate(5px, -10px) rotate(-45deg);
    -webkit-transform: translate(5px, -10px) rotate(-45deg);
    -moz-transform: translate(5px, -10px) rotate(-45deg);
    -ms-transform: translate(5px, -10px) rotate(-45deg);
    -o-transform: translate(5px, -10px) rotate(-45deg);
  }
  .wrapper .movil .bar-icon:hover {
    cursor: pointer;
  }
  .wrapper .movil .bar-icon .line {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    background-color: black;
    width: 50px;
    height: 3px;
    margin-top: 10px;
    float: left;
  }
  .wrapper .movil .bar-icon .line:nth-child(3) {
    margin-bottom: 10px;
  }
  .wrapper .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  @media (max-width: 767px) {
    .wrapper .navbar ul {
      display: block;
      height: 0;
      overflow: hidden;
      transition: ease-in-out 0.5s height;
      -webkit-transition: ease-in-out 0.5s height;
      -moz-transition: ease-in-out 0.5s height;
      -ms-transition: ease-in-out 0.5s height;
      -o-transition: ease-in-out 0.5s height;
    }
    .wrapper .navbar ul.navbar__list--active {
      height: 256px;
    }
  }
  .wrapper .navbar ul li {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    text-align: center;
  }
  .wrapper .navbar ul li a {
    background-color: white;
    padding: 20px;
    display: block;
  }
  .wrapper .navbar ul li a:hover {
    background-color: #282828;
    cursor: pointer;
    color: white;
  }
  .wrapper .body {
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    height: 150px;
  }
  .wrapper .body p {
    margin: 0;
  }
  .wrapper .footer {
    background-color: #282828;
    padding: 10px;
  }
  .wrapper .footer p {
    color: white;
    text-align: right;
    margin: 0;
  }